/* ==========================================================================
   TEXT COLORS
   ========================================================================== */
.text-white {
	color: $ocws_white;
}
.text-ocws-grey {
	color: $ocws_grey;
}
.text-ocws-blue {
	color: $ocws_blue;
}
.text-ocws-l-blue {
	color: $ocws_l_blue;
}
.text-ocws-green {
	color: $ocws_green;
}
.text-ocws-black {
	color: $ocws_black;
}
.text-ocws-orange {
	color: $ocws_orange;
}
.text-ocws-red {
	color: $ocws_red;
}
.text-ocws-yellow {
	color: $ocws_yellow;
}

/* ==========================================================================
   BACKGROUND COLORS
   ========================================================================== */

.green-ocws-bg {
	background-color: $ocws_green; 
}
.gray-ocws-bg {
	background-color: $ocws_grey; 
}
.gray-l-ocws-bg {
	background-color: $ocws_l_grey;
}
.red-ocws-bg {
	background-color: $ocws_red;
}
.blue-ocws-bg {
	background-color: $ocws_blue; 
}
.mauve-ocws-bg {
	background-color: $ocws_mauve;
}
.yellow-ocws-bg {
	background-color: $ocws_l_yellow;
}
.orange-ocws-bg {
	background-color: $ocws_orange;
}

