// white
$ocws_white: #fff;

// grey
$ocws_grey: #BFBDBE; 

// light gray
$ocws_l_grey: #F4F1F2;

// blue
$ocws_blue: #3250CE;

// light blue
$ocws_l_blue: #8EB4E3;

// green
$ocws_green: #00B050;

// black
$ocws_black: #00030E;

// orange
$ocws_orange: #FFA500;

// yellow
$ocws_yellow: #FEC600;

// light yellow
$ocws_l_yellow: #FEFFAF;

// red
$ocws_red: #FF0000;

// mauve
$ocws_mauve: #993366;
