
	<td class="font-bold">ALERTE 1</td>
	<td>EUR > USD</td>
	<td class="font-bold">1,1377</td>
	<td>1,1200</td>
	<td>123 450 000$</td>
	<td class="font-bold">139 jours</td>
	<td>30/11/2017</td>
	<td>
		<a href="#" class="text-ocws-orange">Modifier
			<br/>Enregistrer l'achat</a>
	</td>
	<td class=" last">
		<a href="#">
			<i class="fa fa-trash"></i>
		</a>
	</td>
